body{
    margin: 0;
    padding: 0;
    
}
.header-title {
    font-family: 'Nova Square', sans-serif;
    color: rgb(16, 88, 150);
    font-size: 70px;
    margin-left: 2rem;
}


.header-container {
    height: 12.5rem;
    background-image: url(img/bg.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#shortcut-title{
    margin-top: 8rem;
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
    margin-right: 25rem;
}

ul{
    list-style: none;
}
ul li{ 
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 15px 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
ul li ul.dropdown li{ 
    display: block;
    font-size: large;
}

ul li ul.dropdown {
    width: auto;
    
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: #054779;
    color: white;
}
ul li:hover ul.dropdown{ 
    display: block;
    color: white;
}


/* Main section */

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-family: 'Kanit', sans-serif;
     
}

.github-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    
}

.main-portfolio {    
    padding-left: 2rem;
    border-left: solid 1px;
    border-right: solid 1px;

}

.portfolio-links{
    padding: 2;
}

#projects {
    font-size: 40px;
}
#account{
    text-decoration: none;
    font-size: 30px;
}
.container2 {
    display: flex;
    
}

#assigments{
    font-size: 25px;
}
#pictures { 
    height: 200px;
    width: 200p;
}
#text{
    font-size: 25px;
    padding-left: 1rem;

}

footer{
    background-image: url(img/bg.jpg);
    height: 100px;
}
#account a {
    text-decoration: none;
}
li{
    list-style: none;
}
.assigments-ghub{
    text-decoration: none;
    font-size: 25px;
}

.content-panel {
    height: fit-content;
    
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px #e1e1e1;
    
    
    font-size: 25px;
    padding: 1rem;
  
    position: sticky;
    top: 0px;
  }
.content-panel__list {
    padding-left: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
  
  
.content-panel__title {
    font-weight: 600;
    margin-bottom: 1rem;
}
  
  
.content-panel__link {
    color: #106dee;
    border-bottom: 1px dotted #a3a3a3;
    padding-block: 3px;
}
  
  
.content-panel__link:hover {
    border-bottom: 1px solid #127346;
    color: #276c3e;
    background: linear-gradient(1000deg,#c7c4f1, transparent);
}
ol li {

    text-align: center;
}

#sm-icons {
    height: 50px;
    width: 50px;
}

.contact-info { 
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}
.contact-icons {
    
    gap: 100px;
}

p {
    font-size: 25px;
}